.App {
  text-align: center;
}

.h1{
  margin-top: 2%;
  color: white;
  font-size: 2rem;
}

// ----- Grid Component --------
.grid-container{

  h3{
    color: white;
    font-size: 1.1rem;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(25, 20px);
    margin: 2% 20% 0% 20%;
    width: 62.5%;
    padding-left: 13%;
  }

  .cells{
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid white;
  }
}

.control-panel{
  display: flex;
  // border: 1px solid red;
  width: 25%;
  margin: 2% auto 0 auto;
  justify-content: center;

  .start{
    margin-right: 10%;
    cursor: pointer;
    padding: 1%;
    width: 22%;
    font-size: 1rem;
    color: orangered;
    border: none;
    outline: none;
    border-radius: 3px;
  }

  .start:hover{
    box-shadow: 0px 15px 20px rgba(243, 85, 204, 0.2);
    outline: none;
    position: relative;
    bottom: 1px;
  }

  .randomize{
    cursor: pointer;
    margin-right: 10%;
    font-size: 1rem;
    color: orangered;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 2%;
  }

  .randomize:hover{
    box-shadow: 0px 15px 20px rgba(243, 85, 204, 0.2);
    outline: none;
    position: relative;
    bottom: 1px;
  }

  .clear{
    cursor: pointer;
    font-size: 1rem;
    color: orangered;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 1%;
    width: 20%;
  }

  .clear:hover{
    box-shadow: 0px 15px 20px rgba(243, 85, 204, 0.2);
    outline: none;
    position: relative;
    bottom: 1px;
  }
}

.rules-container{
  // border: 1px solid black;
  text-align: left;
  color: white;
  margin-top: 2%;
  width: 50%;

  h2{
    margin-left: 22px;
    font-size: 1.1rem;
    text-decoration: underline;
  }

  p{
    margin-left: 1%;
  }
}

.about-container{
  // border: 1px solid black;
  text-align: left;
  color: white;
  width: 50%;
  height: 60%;
  position: relative;
  top: 29px;

  h2{
    text-align: center;
    font-size: 1.1rem;
    text-decoration: underline;
  }
}

.flex{
  display: flex;
  margin-bottom: 5%;
  margin-top: 3%;
}